extends layout

block scripts
  script.
    const sessionId = '!{sessionId}';

block content
  h1= title
  p Joining PSI session
  p Confirm all of the following details:
  table
    tr
      td Your name
      td #{invitedName}
    tr
      td Person who invited you
      td #{initiatedName}
    tr
      td Description of PSI
      td #{description}

  form(action="/client", method="get", id="clientConfirmation")
    input(type="hidden", name="sessionId", id="sessionId" value=sessionId)
    input(type="submit"  value="Start")